<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true">
    <conversionRule conversionWord="uri"
                    converterClass="com.github.slamdev.micro.playground.libs.spring.convetions.RequestUriLoggingConverter" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return event.getRequestURI().equals("/")
                    || event.getRequestURI().startsWith("/actuator")
                    || event.getRequestURI().equals("/favicon.ico");
                </expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder>
            <pattern>
                %t{yyyy-MM-dd HH:mm:ss.SSS}  %blue(ACCS) %magenta(${PID:- }) --- [%15.15I] %boldCyan(%-4.4m %-35uri) : %s "%D ms" %u %h "%i{Referer}" "%i{User-Agent}"
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE"/>
</configuration>
